---
import Layout from '@layouts/Layout.astro';
import PostContent from '@components/PostContent.astro'
import { getAllPosts, normalizeFileName } from 'utils';

export async function getStaticPaths() {
  const posts = await getAllPosts();
  return posts.map(post => {
    return {
      params: { writeup: normalizeFileName(post.filePath ? post.filePath?.split('writeups/')[1]: "/")},
      props: { post },
    }
  });
}
const { writeup } = Astro.params;

const { post } = Astro.props;
---

<Layout sidebar={true}, title="writeups">
  <div id="main_content">
      <PostContent {post} />
  </div>
</Layout>

<style>
  #main_content {
    display:flex;
    flex-direction: column;
    /* height:100% */
  }
</style>