<html>
    <body>
        <div class="inner">test</div>
    </body>
</html>

<style>
    html, body {
    height: 100%;
    margin: 0;
    }

    body {
    display: grid;
    height: 100%;            /* fixed to viewport */
    padding: 10px;
    box-sizing: border-box;  /* padding is inside 100% */
    overflow: hidden;        /* prevent body from scrolling */
    }

    .inner {
        /* flex: 1;                 or grid-area, etc */
        overflow-y: auto;        /* this one gets the scrollbar */
        border: 3px solid black;
    }

</style>