<html>
    <body>

    </body>
</html>

<style>
    html {
        width: 100%;
        height: 100%;
    }
    body {
        margin: 0px;
        height: 100%;
        display: grid;
        border: 2px solid black;
    }
</style>