---
const {border=false} = Astro.props;
---
<div id="container">
    <div id="display_box">
        <slot />
    </div>
</div>

<style>
    #display_box {
        display:flex;
        align-items: center;

        padding: 2px 8px 2px 8px;
        margin: 4px;
        
        /* color:#0c0c0c; */
        background: var(--primary);
        color: var(--text);
        text-decoration: none;
        opacity: 0.7;
        
        border: 1px solid var(--primary);
        border-radius: 10px;
        box-shadow: 0 0 1px 0px var(--primary) inset, 0 0 1px 0px var(--primary);
    }

</style>