---
import type { DataEntryType } from "astro";
import type { CollectionEntry, DataEntryMap } from "astro:content";
import { getEntry, render, type DataEntry } from "astro:content";
import PostHeader from "@components/PostHeader.astro";

const { post } = Astro.props as {
    post: CollectionEntry<"htb_machines"> | CollectionEntry<"htb_challenges">;
};

const { Content } = await render(post);
const {name, dateAttempted: date, tags, author} = post.data;
---

<PostHeader {name} {date} {tags} {author}/>
<div id="post-content">
    <Content />
</div>

<style is:global>
    #post-content {
        margin: auto;
        width:75%
    }

    #post-content h1 {
        font-size: large
        color: black;
        font-family: 'Courier New', Courier, monospace;
    }

    #post-content p {
        font-family: sans-serif;
    }

    #post-content ul {
        /* list-style-position: outside; */
        /* padding: 5px; */
    }
    
    #post-content ul li {
        /* list-style-type: "\25b8"; */
        list-style-type: disc;
        /* list-style-position: inside; */
    }


</style>