:root {
    --primary: #24273a;
    --secondary: #1e2030;
    --tertiary: #181926;
    --text: #cad3f5;
    --accent: #c6a0f6;

    --sidebar-text: #b8c0e0;
    --sidebar-background: var(--tertiary);
}