---
import background from '../assets/background.svg';
const { title } = Astro.props;
import Nav from "./Nav.astro";
import Sidebar from './Sidebar.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="nav_grid_item">
			<Nav />
		</div>
		<div id="sidebar_grid_item">
			<Sidebar directoryName="writeups" title="Writeups" />
		</div>
		<div id="main_grid_item">
			<!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->
			<div id="main_container">
				<slot />
			</div>
		</div>
	</body>
</html>

<style>

	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(1000px);
	}

	#nav_grid_item {
		grid-area: nav;
	}

	#sidebar_grid_item {
		grid-area: sidebar;
	}

	#main_grid_item {
		grid-area: main;
	}

	html {
		height: 100%;
		width: 100%;
	}
	body {
		background-color:#FBF3D5;
		margin: 6px;
		display: grid;
		grid-template-columns: minmax(0, 1fr) 3fr;
		/* grid-template-rows: auto; */
		grid-template-areas: 
			"nav main"
			"sidebar main";
		grid-template-rows: auto 1fr;
		gap: 6px
	}

</style>
