---
import FileTreeEntry from '@components/FileTreeEntry.astro';
import { readAllFiles } from "utils";

const { title } = Astro.props;
---

<div id="sidebar">
  <div id="title">
    <div class="marquee"><div class="marquee-content">{(`${title} `.repeat(50))}</div></div>
  </div>
  <FileTreeEntry files={readAllFiles("writeups")}/>
</div>

<style>

    .marquee {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
    }

    .marquee-content {
      display: inline-block;
      animation: scroll-left 30s linear infinite; /* Adjust duration as needed */
    }

    @keyframes scroll-left {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-50%);
      }
    }

    #sidebar {
        /* background-image: linear-gradient(to bottom, #0c0c0c, #FBF3D5); */
        background-color:#1c1c1c;
        border-radius: 14px;
        box-shadow: 0 0 2px 0px white inset, 0 0 2px 0px #FBF3D5;
        color: #FBF3D5;
        font-family: sans-serif;
        padding: 10px;
        height:100%;
        box-sizing: border-box;
    }

    #title {
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 0 2px 0px white inset, 0 0 2px 0px white;
        background: #FBF3D5;
        font-family: monospace;
        font-size: x-large;
        color:#0c0c0c;

    }
</style>